// Created by Daniel Christopher Treidene on 06.06.2016.
script(src="../daniel.json.js")
script(src="../html_output.js")
h1 JSON LOADER TEST

script(type='text/javascript').
   if (foo) {
      bar(1 + 5)
   }